<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Node ww3school</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<button class="nodetest" ><a href="nodetest.js">Node</a></button>
<h1>Làm quen với VScode</h1>
	<h2>Shortkey</h2>
	<ul>
		<li>Ctrl + P: chuyển file</li>
		<li>Ctrl + Shift + P: phím tắt</li>
		<li>Ctrl + O: di chuyển lên class, function</li>
		<li>Ctrl + 2: tách thành 2 màn hình</li>
	</ul>
	<h2>Module</h2>
	<ul>
		<li>Tạo module (xuất)</li>
		<pre>
			var chao = function(name){
				console.log('hello ' + name)
			};
			var tuoi = 18;
			module.exports.c = chao;
			module.exports.t = tuoi;
		</pre>
		<li>Dùng module (require)</li>
		<pre>
			var dungthu = require("./module1.js")

			dungthu.c('lam')
			console.log(dungthu.t)
		</pre>
	</ul>
	<h3>Cac cach khai bao module</h3>
		<p>Tep 20tkvlogs</p>
		<h3>Hello1.js</h3>
		<pre>
			module.exports = function(){
				console.log("Hello1 word")
			}
		</pre>
		<b>app.js</b>
		<pre>
			var hello1 = require("./hello1");
			hello1();
		</pre>
		<h3>Hello2.js</h3>
		<p>module.exports la object, co the gan thuoc tinh</p>
		<pre>
			module.exports.sayHello = function() {
				console.log("Hello2 word")
			}
		</pre>
		<b>app.js (1)</b>
		<pre>
			var hello2a = require("./hello2");
			hello2a.sayHello();
		</pre>
		<b>app.js (2)</b>
		<pre>
			var hello2b = require("./hello2").sayHello;
			hello2b();
		</pre>
		<h3>Hello3.js</h3>
		<p>Tao doi tuong va khoi tao san</p>
		<pre>
			function Person(){
				this.message = "Hello3 word",
				this.sayHello = function() {
					console.log(this.message)
				}
			}
			module.exports = new Person()
		</pre>
		<b>app.js</b>
		<pre>
			var hello3 = require("./hello3");
			hello3.sayHello();

			hello3.message = "change hello3 world"
			hello3.sayHello()
		</pre>
		<h3>Hello4.js</h3>
		<p>tao doi' tuong nhung chua khoi tao san</p>
		<pre>
			function Person(){
				this.message = "Hello4 word",
				this.sayHello = function() {
					console.log(this.message)
				}
			}
			module.exports = Person;
		</pre>
		<b>app.js</b>
		<pre>
			var Hello4 = require("./hello4");
			var hello4 = new Hello4();
			hello4.sayHello();
		</pre>
		<h3>Hello5.js</h3>
		<p>exports nhu 1 doi' tuong</p>
		<pre>
			var message = "Hello 5 word"
			function sayHello(){
				console.log(message)
			}
			module.exports = {
				sayHello: sayHello
			}
		</pre>
		<b>app.js (1)</b>
		<pre>
			var hello5a = require("./hello5");
			hello5a.sayHello();
		</pre>
		<b>app.js (2)</b>
		<pre>
			var hello5b = require("./hello5").sayHello;
			hello5b();
		</pre>
	<h2>NPM</h2>
		<h3>Khái niệm</h3>
			<p>hệ thống quản lý các module, node package manager</p>
			<ul>
				<li>Có săn trong nhân của nodejs</li>
				<li>Tự viết</li>
				<li>Của người khác</li>
			</ul>
		<h3>Cài đặt</h3>
		<p>cai moi' hoan toan: tạo file package.json</p>
		<pre>
			npm init
		</pre>
		<p>Cai thu muc node_modules khi co san file package.json</p>
		<pre>
			npm install
			npm i
		</pre>
		<p>cai vào môi trường dev</p>
		<pre>
			npm install ... --save-dev
			npm i ... --save-dev
		</pre>
		<p>update tinh nang</p>
		<pre>
			npm update
		</pre>
		<pre>
			nodemon app.js
		</pre>
		<b>package.json</b>
<pre>
	{
		"name": "my-app",
		"version": "1.0.0",
		"description": "my first app",
		"main": "app.js",
		"scripts": {
		"test": "echo \"Error: no test specified\" && exit 1"
		},
		"author": "lam",
		"license": "MIT",
		"dependencies": {
		"lodash": "^4.17.21"
		}
	}
</pre>
			<b>^4.17.21: ^ cap nhat tat ca. thay bang ~ chi cap nhat PATCH</b>
<pre>
	var _ = require("lodash")

	var array = [1];
	var other = _.concat(array,1,[2],[[4]])
	console.log(other)

	var dif = _.difference([2,1],[2,3])
	console.log(dif)

	var users = [
		{ 'user': 'barney',  'age': 36, 'active': true },
		{ 'user': 'fred',    'age': 40, 'active': false },
		{ 'user': 'pebbles', 'age': 1,  'active': true }
		];

	var find1 = _.find(users, function(user) {return user.age &lt;40}, 1)
	console.log("age&lt;40 ",find1)

	var find2 = _.find(users, ['age', 40])
	console.log("age = 40 ",find2)

	var find3 = _.find(users, {'active': true})
	console.log(find3)

	var filter = _.filter(users, function(user) {return user.age &lt; 40})
	console.log(filter)
</pre>
<h3>Upload module lên NPM</h3>
<ol>
	<li>Tạo file module gồm file package.json</li>
	<li>Đăng ký tài khoản quản lý npmjs.com</li>
	<li>lệnh login và publish</li>
<pre>
	npm login
	npm publish
</pre>
</ol>
	<h2>webserver và cách đọc file</h2>
		<h3>Hàm dựng server</h3>
<pre>
	var http = require("http")

	http.createServer(function(req, res){
	    res.writeHead(200, {'Content-Type': 'text/plain'})
	    res.end("hello web from Nodejs")
	}).listen(1111, "127.0.0.1")
	----
	"127.0.0.1" mặc định là hostlocal, có thể bỏ qua
</pre>
		<p>Đọc file html: 'Content-Type': 'text/html'</p>
		<p>Đọc file json: 'Content-Type': 'application/json'</p>
		<h3>Đọc file html</h3>
		<p>fs dùng để đọc file</p>
		<li>fs.ReadStream</li>
<pre>
	var http = require('http');
	var fs = require('fs')

	http.createServer(function(req, res){
		res.writeHead(200,{"content-type":"text/html; charset=utf-8"});
		fs.ReadStream("giaodien.html").pipe(res);
	}).listen(1234)
	----
	tạo server > loại dữ liệu cần đọc > đọc file > bỏ vào ống dẫn res > lắng ngeh cổng 1234
</pre>
		<li>fs.readFile</li>
<pre>
	var http = require('http')
	var fs = require('fs')

	http.createServer(function(req,res){
		fs.readFile(__dirname + "/giaodien.html", "utf8", function(err, content){
			if(err) {
				console.log(err)
			} else {
				res.writeHead(200, {"Content-type":"text/html"})
				res.write(content)
				res.end()
			}
		})
	}).listen(3000);
</pre>
	<p><b>1 cách dạy khác</b></p>
<pre>
	var http = require("http")
	var fs = require("fs")

	http.createServer(function(req, res){
		res.writeHead(200, {'Content-Type': 'text/html'})
		var html = fs.readFileSync(__dirname + "/index.html", "utf-8")

		var user = "Hoa Mai";
		html = html.replace("user", user)

		res.end(html)
	}).listen(1111, "127.0.0.1")
</pre>
	<p>Cai thien hieu nang doc file voi PIPE</p>
	<b>createReadStream().pipe()</b>
<pre>
	var http = require("http");
	var fs = require("fs");

	http.createServer(function(req, res){
		res.writeHead(200, {'Content-Type':'text/html'});
		fs.createReadStream(__dirname + "/index.html").pipe(res);
	}).listen(1111,"127.0.0.1")
</pre>
	<h2>Router</h2>
	<h3>router1.js</h3>
<pre>
	var http = require('http');
	var router = require('./router2')

	http.createServer(router.loadRouter).listen(3000)
</pre>
	<h3>router2.js</h3>
<pre>
	var fs = require('fs')

	var loadFile = function(name, res) {
		res.writeHead(200, {"Content-type":"text/html"})
		fs.ReadStream(name).pipe(res)  
	}

	var loadRouter = function(req, res) {
		switch (req.url) {
			case "/":
				loadFile("giaodien.html", res)
				break;
			case "/tintuc":
				loadFile("giaodien1.html", res)
				break;
			default:
				loadFile("404.html", res)
				break;
		}
	}

	module.exports.loadRouter = loadRouter
</pre>
	<p><b>1 cách khác, dùng hàm if else</b></p>
<pre>
	var http = require("http");
	var fs = require("fs");

	http.createServer(function(req, res){
	    if (req.url === "/" || req.url === "/index.html") {

	        res.writeHead(200, {'Content-Type':'text/html'}); // dong nay ko co cung duoc
	        fs.createReadStream(__dirname + "/index.html").pipe(res)
	    } else  if (req.url === "/api"){
	        res.writeHead(200, {'Content-Type':'application/json'}); //ko co cung duoc
	        var obj = {
	            fname: "Hoa",
	            lname: "Mai"
	        };
	        res.end(JSON.stringify(obj));
	    } else {
	        res.writeHead(404)
	        res.end("Not found")
	    }
	}).listen(1111,"127.0.0.1", function(){
	    console.log("Da khoi tao server: http://localhost:1111")
	})
</pre>
	<h2>Express</h2>
		<h3>Khởi tạo mới 1 project với Express</h3>
		<li>Cài đặt express-generator</li>
<pre>
	$ npm install -g express-generator
</pre>
		<li>Tạo project mới</li>
<pre>
	$ npm [tenproject]
</pre>
		<li>cài đặt các gói phụ thuộc</li>
<pre>
	$ npm install
</pre>
	<h2>EJS - template engine của Express</h2>
		<p>js có thể viết ra html, nhưng phải viết trong res.write("&lt;h1>Nội dung&lt;/h1>h1>")</p>
		<p><b>Vậy làm sao có thể viết html ngay trong js?</b> => dùng <b>EJS</b></p>
		<li>Tạo 1 project mới với ejs</li>
<pre>
	$ npm install [tenproject] -e
</pre>
		<li>Khai báo biến và hiển thị kết quả</li>
<pre>
	&lt;% %> Khai báo
		&lt;% var b = 18 %>

	&lt;%= %> Hiển thị giá trị 
		&lt;h2>Biến b có giá trị là: &lt;%= b %>&lt;/h2>

	&lt;%- %> Hiển thị giá trị html được render 
		&lt;% var y = "&lt;h1>hello&lt;/h1>" %>
		&lt;%- y %>
</pre>
		<p>Ví dụ</p>
<pre>
	&lt;% for (var i =1; i &lt; 11; i++) { %>
		&lt;h1>Xin chào lần &lt;%= i %>&lt;/h1>
	&lt;% } %>
</pre>
	<h2>Router trong EJS</h2>
<pre>
	router.get('/', function(req, res, next) {
		res.render('index', { title: 'Express' });
	  });
</pre>
	<h2>Nhóm router</h2>
	<p>routes/beauty-fashion.js</p>
<pre>
	var express = require('express')
	var router = express.Router()

	// GET star-style.chn
	router.get('/star-style.chn', function(req, res, next){
		res.send('beauty-fashion > star-style.chn')
	})
	//  GET lam-dep.chn
	router.get('/lam-dep.chn', function(req, res, next){
		res.send('beauty-fashion > lam-dep.chn')
	})

	module.exports = router;
</pre>
	<p>app.js</p>

<pre>
	...
	var beautyFashionRouter = require('./routes/beauty-fashion');
	...
	app.use('/beauty-fashion', beautyFashionRouter);
	...
</pre>
	<h2>tham số param Router</h2>
	<li>truyền tham số: dùng dấu 2 chấm (:)</li>
<pre>
	/sp/:id
</pre>
	<li>lấy tham số: dùng req.params.ten-tham-so</li>
<pre>
	router.get('/sp/:id', function(req, res, next) {
		res.send('Mã sản phẩm là ' + req.params.id);
	});

	router.get("/user/:id", function(req, res){
	    res.render('user', { ID : req.params.id})
	})
</pre>
	<li>truyền nhiều tham số</li>
	<p>Dùng dấu chấm (.), gạch ngang (-), gạch chéo (/)</p>
<pre>
	/sp/:id-:cost
	/sp/:id.:cost
	/sp/:id/:cost

	router.get('/sp/:id-:cost', function(req, res, next) {
		res.send(`Mã sản phẩm ${req.params.id} có giá ${req.params.cost}`);
	});
</pre>
	<h3>Cách đặt url giống tinhte</h3>
	<p>Có thể thay đổi bất kì kí tự nào ở giữ, luôn giữ cố định id</p>
	<p>Thân thiện với SEO</p>
	<li>Regular expression</li>
<pre>
	chấm hỏi ? : có hoặc không có 1 ký tự hoặc nhóm kí tự trước đó
	/monhoc?:course // có hoặc không có chữ 'c'

	dấu ngoặc đơn () : nhóm 1 cụm từ lại
	/(monhoc)?:course // có hoặc không có nhóm chữ 'monhoc'

	dấu sao (*) : thay thế bất kì ký tự nào
	'/monhoc*-:course' 
</pre>
	<li>Truyền tham số</li>
	<h2>JSON từ webserver</h2>
	<li>Hiển thị json trên 1 trang riêng không dùng template EJS</li>
<pre>
	http.createServer(function(req, res){
	    res.writeHead(200, {'Content-Type':'application/json'});
	    var obj = {
	        fname: "Hoa",
	        lname: "Mai"
	    }
	    res.end(JSON.stringify(obj))
	}).listen(1111,"127.0.0.1")
</pre>
	<li>Hiển thị nội dung json trong trang dùng EJS</li>
	<p>index.js</p>
<pre>
	router.get('/sanpham', function(req, res, next) {
		const data = {sanpham: ["sữa", "trứng", "nước ngọt", "bánh"]}
		res.render('sanpham', { danhsach: data });
	  });
</pre>
	<p>sanpham.ejs</p>
<pre>
	&lt;h1>Danh sách sản phẩm&lt;/h1>
	&lt;%
		danhsach.sanpham.forEach(function(item){
	%>
		&lt;li>
			&lt;%= item %>
		&lt;/li>
	&lt;%
		})
	%>

	&lt;%= JSON.stringify(danhsach.sanpham) %>
</pre>
	<h2>Ghép giao diện Frontend vào NodeJS sử dụng Router và EJS</h2>
		<li>B1: Chuẩn bị 1 template</li>
			<p>Tham khảo nguồn:</p>
			<p><a href="https://startbootstrap.com/" target="_blank">Start Bootstrap</a></p>
		<li>B2: Cấu trúc lại các file</li>
		<p>Chú ý link dẫn cấu hình trong EJS không có /public</p>
		<p></p><li>B3: cấu hình router</li></p>
		<li>B4: chuyển header và footer ra 1 file riêng. include vào file muốn hiển thị</li>
<pre>
	<% include header %>
	<% include footer %>
</pre>
	<h2>Cookie trong Nodejs</h2>
	<li>Tạo cookie: res.cookie()</li>
<pre>
	router.get('/setcookie/:name', function(req, res, next) {
		res.cookie('name', req.params.name)
		res.send(`ten là ` + req.params.name);
	  });
</pre>
	<li>Lấy cookie: req.cookies.[ten]</li>
<pre>
	router.get('/getcookies', function(req, res, next) {
		res.send(`Tên bạn là ` + req.cookies.name);
	  });
</pre>
	<li>Xóa cookie: res.clearCookie()</li>
<pre>
	router.get('/clearcookie', function(req, res, next) {
		res.clearCookie('name')
		res.send(` Da xoa cookies`);
	  });
</pre>
	<h2>Cookie session</h2>
		<p>Là cookie lưu tạm thời trên server để phân biệt giữa các máy tính, và dùng cho 1 số tính năng khác</p>
	<li>Tạo cookie với session: req.session.[ten]</li>
<pre>
	router.get('/setsession/:id', function(req, res, next) {
		req.session.menu = req.params.id
		res.send(`Da tao session ${req.session.menu} `);
	});
</pre>
	<li>Lấy cookie với session: req.session.[ten]</li>
<pre>
	router.get('/getsession', function(req, res, next) {
		res.send(`menu là ` + req.session.menu);
	});
</pre>
	<li>Xóa cookie với session</li>
<pre>
	// var cookieSession = require('cookie-session')
	req.session = null

	// var session = require('express-session')
	req.session.destroy(function(err){
		console.log(err)
	})
</pre>
	<h2>Load và in ra dữ liệu json</h2>
	<li>load</li>
<pre>
	app.locals.fakedata = require('/model/data.json')
</pre>
<h1>web portfolio project</h1>
	<h2>Quy trình làm web</h2>
	<ol>
		<li>Thiết kế psd</li>
		<li>Từ psd chuyển sang html</li>
		<p>downloa html tại <a href="https://www.themelock.com/" target="_blank">themelock</a></p>
		<li>Chuyển html vào project Nodejs (express)</li>
		<li>Đọc dữ liệu json đổ vào file ejs</li>
		<li>Sử dụng router điều hướng và truyền tham số</li>
	</ol>
	<h2>Lấy dữ liệu trong form</h2>
<pre>
	index.ejs
	&lt;form action="/" method="POST">
		...
		&lt;input type="text" name="email"...>
		...
		&lt;input type="text" name="password"...>
		...
	&lt;/form>
	----
	router/index.js
	router.post('/', function(req, res, next) {
		res.send('email là ' + req.body.email + " password là " + req.body.password);
	  });
</pre>
	<h2>Tạo form upload</h2>
	<li>tạo form</li>
	<p><b>Cần enctype="multipart/form-data"</b></p>
<pre>
	&lt;form action="" method="POST" enctype="multipart/form-data">&lt;/form>
</pre>
	<li>Cài multer và khai báo trong router</li>
<pre>
	routes/index.js
	var multer  = require('multer');

	//Chỉ ra đường dẫn upload và tên file
	const storage = multer.diskStorage({
	destination: function (req, file, cb) {
		cb(null, './public/uploads')
	},
	filename: function (req, file, cb) {
		const uniqueSuffix = Date.now() + '-' + Math.round(Math.random() * 1E9)
		cb(null, uniqueSuffix + '-' + file.originalname)
	}
	})

	const upload = multer({ storage: storage })

	// tạo router mới 
	router.post('/uploads', upload.single('imageUpload'), function(req, res, next) {
		res.send('da upload')
	});
</pre>
	<li>Giới hạn kiểu file upload</li>
	<p>trang check online regex <a href="https://regex101.com/" target="_blank">regex101.com/</a> </p>
<pre>
	function checkFile (req, file, cb) {
		if(!file.originalname.match(/\.(jpg|png|gif|jpeg)$/)) {
		  cb(new Error('Chỉ có thể upload file ảnh'))
		} else {
		  cb(null, true)
		}
	  }
	  
	const upload = multer({ storage: storage , fileFilter: checkFile })
</pre>
	<h2>Upload nhiều file với Dropzone</h2>
	<ol>
		<li>Tạo project mới</li>
		<li>Cài multer</li>
		<li>Cài dropzone</li>
		<li>Tạo trang upload</li>
		<p>Trang hướng dẫn dropzone <a href="https://www.sitepoint.com/file-upload-form-express-dropzone-js/" target="_blank">sitepoint</a></p>
		<li>upload thật</li>
		<p>Dùng module multer như trên với upload.any()</p>
	</ol>
	<h2 class="body">MongoDB</h2>
		<h3>Khái niệm</h3>
			<p>Là csdl theo đối tượng</p>
			<p>- các bảng dữ liệu kiểu json, và không tuân thủ theo cấu trúc nào</p>
			<p>- Mỗi bảng được đánh dấu id khẳng định tính duy nhất</p>
		<h3>Cài mongoDB server 4.4 và Compass (cài 5.0.2 bị lỗi) </h3>
			<li>cài mongodb trên debian <a href="https://docs.mongodb.com/v4.4/tutorial/install-mongodb-on-debian/" target="_blank">mongodb 4.4.10</a></li>
			<li>cài compass</li>
		<h3>2 cách thao tác với mongoDB</h3>
		<li>Thao tác trên terminal</li>
		<li>Thao tác qua chương trình trung gian (robomongo)</li>
		<h3>7 câu lệnh thao tác với database và collection (table)</h3>
		<ol>
		<li>Khởi động</li>
<pre>
	mongod
</pre>
		<h4>Nếu lỗi thiếu thư mục thì chạy lệnh tạo thư mục</h4>
<pre>
	// Tạo thư mục
	sudo mkdir -p ~/Documents/mongodb-data

	// cấp toàn quyền cho thư mục
	sudo chmod 777 ~/Documents/mongodb-data

	// chạy monngodb
	mongod --port 27017 --dbpath ~/Documents/mongodb-data
</pre>
		<li>Khởi tạo Mongo Shell</li>
<pre>
	mongo
</pre>
		<li>Hiển thị tất cả database</li>
<pre>
	show dbs
</pre>
		<li>Sử dụng / tạo (nếu chưa có) database</li>
<pre>
	use &lt;tencsdl>

	//kiểm tra đã chọn csdl chưa
	db
</pre>
		<li>Xóa database</li>
<pre>
	use trước khi xóa
	use fedu

	db.dropDatabase()
</pre>
		<li>Tạo collection</li>
<pre>
	db.createCollection('&lt;tencsdl>')
</pre>
		<li>Hiển thị các collections</li>
<pre>
	show collections // Đang ở database fedu
</pre>
		<li>Xóa collection</li>
<pre>
	db.&lt;tenCollection>.drop()
</pre>
		<li>Thêm Document vào Collection</li>
<pre>
	db.&lt;tenCollection>.insert(dữ liệu json)
	db.dsweb.insert({"tenweb":"tiki", "linkeweb":"http://tiki.vn"})
</pre>
		<p>Cách 2: đặt biến</p>
<pre>
	var addweb = {}
	addweb.tenweb = "lazada"
	addweb.linkweb = "http://lazada.com"

	db.dsweb.insert(addweb)
</pre>
	<p>Ngoài ra còn có phương thức: save(), insertOne(), insertMany(). <a href="https://vncoder.vn/bai-hoc/mongodb-chen-document-345" target="_blank">Tại đây</a> </p>
		<li>Hiển thị Documents</li>
<pre>
	//Hiển thị dữ liệu
	db.&lt;tenCollection>.find()

	//hiển thị dữ liệu đẹp giống json
	db.&lt;tenCollection>.find().pretty()
</pre>
		<p><b>chỉnh định field hiển thị</b></p>
<pre>
	db.&lt;tenCollection>.find({condition},{field1:1,field2:0,...})

	1 -> hiển thị
	0 -> không hiển thị
</pre>
<pre>
	db.player.find({},{'name':1})
</pre>
		<p> <a href="https://vncoder.vn/bai-hoc/mongodb-truy-van-document-346" target="_blank">Điều kiện find({condition})</a></p>
<pre>
	&lt;key>:&lt;value>
</pre>
		<ul>
			<li>WHERE</li>
			<li>AND</li>
		<pre>
			dấu phẩy (,)</pre>
			<li>OR</li>
		<pre>
			$or:</pre>
			<li>NOR</li>
		<pre>
			$not:</pre>
			<li>NOT</li>
		<pre>
			$NOT:</pre>
		</ul>
		<p><b>Giới hạn limit() và bỏ qua skip()</b></p>
<pre>
	db.&lt;tenCollection>.find().limit(NUMBER).skip(NUMBER)
</pre>
		<p><b>Sắp xếp Documents</b></p>
<pre>
	db.&lt;tenCollection>.find().sort({field1:1, field2:-1,...})

	1 -> tăng dần
	2 -> giảm dần
</pre>
		<li>Cập nhật Document</li>
<pre>
	db.&lt;tenCollection>.update(
		&lt;điều kiện>,
		&lt;update cái gì>,
		{
			updert: true, //
			multi: true   // update nhiều document
		}
	)
</pre>
		<p>Ví dụ: $set (update) & multi: true</p>
<pre>
	db.dsweb.update(
		{"tenweb" : "tiki"},
		{$set:{"linkeweb" : "http://tiki.com" }},
		{multi: true}	
	)
</pre>
		<p>Ví dụ: $unset (deploy) & multi: true</p>
<pre>
	db.dsweb.update(
		{"tenweb" : "tiki"},
		{$set:{"linkeweb" : "http://tiki.com" }},
		{multi: true}	
	)
</pre>
		<p>Ví dụ: upsert: true</p>
<pre>
	Tạo mới keyDocument (nếu có Document, không có keyDocument)

	Tạo mới Document (nếu không có Document)
</pre>
		<p>$rename(tencu : tenmoi)</p>
<pre>
	// rename 1 trường
	db.dsweb.update({},{$rename:{"tenweb":"congty"}})

	//rename multi
	db.dsweb.update({},{$rename:{"tenweb":"congty"}}, {multi:true})

</pre>
		<p><b>Note: câu lệnh truy vấn</b></p>
		<p>query and projection <a href="https://docs.mongodb.com/manual/reference/operator/query/" target="_blank">Document MongoDB</a></p>
		
		<li>Xóa Document</li>
<pre>
	db.&lt;tenCollection>.remove(
		&lt;điều kiện>,
		{
			justone:true
		}
	)
</pre>
<pre>
	// Xóa 1 Document
	db.dsweb.remove({"congty":"taobao"},{justone:true})

	// Xóa nhiều Documents
	db.dsweb.remove({"congty":"taobao"},{justone:false})

	// Xóa tất cả
	db.dsweb.remove({})
</pre>
		</ol>
		<h2>export và import</h2>
		<ol>
			<b><li>export</li></b>
				<ul>
					<li>export database</li>
<pre>
	mongodump -d &lt;tendatabase> -o &lt;tenfolderluutru>
</pre>
<pre>
	mongodump -d fedu -o ~/Documents/exportdatabase
</pre>
					<li>export collection</li>
<pre>
	mongoexport -d &lt;tendatabase> -c &lt;tencollection> -o &lt;tenfile.json>
</pre>
<pre>
	mongoexport -d fedu -c dsweb -o ~/Documents/exportdatabase/ds.json
</pre>
					<p><b>Note: chạy trên terminal mới, không chạy trên mongo shell (truy xuất dữ liệu)</b></p>
				</ul>
			<b><li>import</li></b>
				<ul>
					<li>import database</li>
<pre>
	mongorestore -d &lt;tendatabase> &lt;tenfolder>
</pre>
<pre>
	mongorestore -d fedu2 ~/Documents/exportdatabase/fedu
</pre>
					<li>import collection</li>
<pre>
	mongoimport -d &lt;tendatabase> -c &lt;tenCollection> --file &lt;tenfile>
</pre>
<pre>
	mongoimport -d fedu1 -c bangdl --file ~/Documents/exportdatabase/ds.json
</pre>
				</ul>
		</ol>
	<h2>Bài toán kinh điển: lập trình thêm - xem - sửa - xóa dl với NodeJS và MongoDB - node-mongodb-native</h2>
	<p>Bản chất của việc lập trình với backend website là làm việc với dữ liệu</p>
	<p>Tài liệu mongodb <a href="https://mongodb.github.io/node-mongodb-native/3.7/quick-start/quick-start/" target="_blank">Tại đây</a></p>
	<ol>
		<li><b>Tạo project mới</b></li>
		<p>
			sau khi tạo project mới với express. Cài 
			<a href="https://github.com/mongodb/node-mongodb-native" target="_blank">node-mongodb-native</a>
		</p>
<pre>
	npm install mongodb
</pre>
		<li><b>Tạo database mới</b></li>
			<p>Kết nối dữ liệu</p>
		<li><b>Tạo view thêm dl</b></li>
			<ol>
				<li>Tạo 1 router để thêm nội dung dl mới</li>
				<li>router gắn với ejs</li>
				<li>Tạo thêm router 2 với kiểu "POST"</li>
				<li>Tại router 2 sẽ lấy dl trong router 1 gửi lên monngoDB</li>
			</ol>
		<li><b>view xem dl</b></li>
			<ol>
				<li>Tạo view ejs</li>
				<li>Sử dụng docs github để lấy câu lệnh dữ liệu</li>
			</ol>
		<li>Lập trình phần xóa dl</li>
			<ol>
				<li>Lấy về id documents cần xóa: dùng router truyền vào id</li>
				<li>Viết js confirm xóa</li>
				<li>Sử dụng hàm xóa</li>
			</ol>
			<p>Note</p>
<pre>
	_id là Object Id. Phải chuyển dữ liueej sang object

	const chuyenObjectId = require('mongodb').ObjectID;
	var idcanxoa = chuyenObjectId(req.params.idcanxoa);
</pre>
		<li>Tạo view edit dl</li>
			<ol>
				<li>Lấy id và tạo view router get</li>
				<li>Tạo router post, update dữ liệu vào mongo</li>
			</ol>
	</ol>
	<h2>Với MONGOOSE - MongoDB</h2>
	<h3>Tại sao? phân tách rõ vai trò theo mô hình MVC</h3>
	<ul>
		<li>view = file ejs</li>
		<li>model = mongoose</li>
		<li>controller = router</li>
	</ul>
	<p>Tài liệu mongoose <a href="https://mongoosejs.com/docs/index.html" target="_blank">Tại đây</a></p>
	<h3>Kết nối mongoose với Nodejs</h3>
		<ul>
			<li>Mỗi database là 1 url</li>
<pre>
	mongoose.connect('mongodb://localhost:27017/test')
</pre>
			<li>kết nối với database</li>
<pre>
	mongoose.connect('mongodb://localhost:27017/dataMongoose')
</pre>
			<li>kết nối với collection</li>
			<p>Tạo ra 1 model. ví dụ, collection tên là contact</p>
			<p>Tất cả collection muốn sử dụng được, phải chuẩn bị schema</p>
			<p>sau đó export nó ra</p>
<pre>
	Tạo model/contact.js
	---
	const mongoose = require('mongoose');

	const contact = new mongoose.Schema({ name: 'string', phone: 'number' }, {collection: 'contact'});
	module.exports = mongoose.model('contact', contact);
</pre>
		</ul>
	<h3>Trang view dl</h3>
	<ul>
		<li>Tạo trang view</li>
		<li>Tạo router get</li>
		<li>Dùng model lấy dữ liệu, đẩy vào view</li>
	</ul>
	<h3>Trang tạo mới dữ liệu</h3>
<pre>
	router.post('...',function(req, res, next) {
		...
		Model.create(dulieu)
		// var dulieu = new Model(dulieu)
		...
	  });
</pre>
	<h2>PostgreSQL</h2>


	<h2>Lay gia tri value</h2>
<h3>GET dung query</h3>
<pre>
	app.get('/search', (req, res) => {
	  // console.log(req.query.q)
	  res.render('search')
	});
</pre>
<p>tra ra gia tri</p>
<h3>POST dung body</h3>
<pre>
	app.post('/search', (req, res) => {
	  console.log(req.body)
	  res.send('ket qua')
	});
</pre>
<p>gui du lieu dang form</p>
<p>Tra du lieu undefined. vi trong express khong tich hop san.</p>
<p>Can phai goi method trong express (midleware)</p>
<pre>
	app.use(express.urlencoded({extended: true})) // POST, gui du lieu dang Form Data
	app.use(express.json()) // POST javascript (XMLHttpRequest, fetch, axios)
</pre>

	


<h1 class="body">Kien thuc Nodejs ngoai</h1>
<p class="body">Nguon: <a href="https://www.youtube.com/watch?v=fPf88MxlnEQ&list=PLqnlyu33Xy-6g7IqU5-3BXOfewcJKoL08&index=11" target="_blank">video Youtube</a></p>

<h2>Khai bao va su dung function</h2>
<pre>
	function sayHello(){
	  console.log('I say Hello!!')
	}

	sayHello();
	
	//first-class function
	function callSay(fn){
	  fn()
	}

	callSay(sayHello);//thay fn bang sayHello
</pre>
<h2>Prototype ke thua</h2>
<h3>format theo ngay VN</h3>
<pre>
	Date.prototype.format = function(){
	  var yyyy = this.getFullYear();
	  var mm = this.getMonth() + 1;
	  var dd = this.getDate();
	  var hours = this.getHours();
	  var minutes = this.getMinutes(); 
	  return dd + '-' + mm + "-" + yyyy + "\n" + hours +":"+minutes;
	}

	var now = new Date();
	var oneDay = new Date(2021,10,2);

	console.log(now.format());
	console.log(oneDay.format());
</pre>
<h3>user ke thua person</h3>
<pre>
	function Person(name, password){
	  this.name = name;
	  this.password = password;
	}
	Person.prototype.getName = function(){
	  return this.name;
	}

	Person.prototype.getPassword = function(){
	  return this.password
	}

	Person.prototype.getLevel = function(){
	  return this.level;
	}
	Person.prototype.level = "admin"

	function User(name){
	  this.name = name;
	}
	User.prototype = new Person();

	var person1 = new Person("Teo", "1234")
	console.log(person1.getName() +" "+person1.getPassword()+" "+person1.level)

	var person2 = new User("Teo", "1234")
	console.log(person2.getName() +" "+person2.getPassword()+" "+person2.level)
</pre>
<b>ket qua</b>
<p>Teo 1234 admin</p>
<p>Teo undefined admin</p>
<h3>Ham tu chay</h3>
<pre>
	(function(lname){
	  var fname = "Hoa";
	  console.log(fname);
	  console.log(lname)
	}("Phuong"))
</pre>
<h2>Ket hop nhieu module</h2>
<p>Tep 20tkvlogs</p>
<ul><li>app.js ngoai cung</li></ul>
<pre>
	var greet = require("./greet/index.js") // hoac ./greet
	
	greet.english2();
	greet.vietnamese2();
</pre>
<ul><li>thu muc greet</li></ul>
<b>greetings.json</b>
<pre>
	{
	    "en": "Hello",
	    "vi": "xin chao"
	}
</pre>
<b>english.js</b>
<pre>
	var greeting = require("./greetings.json")

	var sayHello = function(){
	    console.log(greeting.en)
	};

	module.exports = sayHello;
</pre>
<b>vietnamese.js</b>
<pre>
	var greeting = require("./greetings.json")

	var sayHello = function(){
	    console.log(greeting.vi)
	};

	module.exports = sayHello;
</pre>
<b>index,js</b>
<pre>
	var englis1 = require("./english");
	var vietnames1 = require("./vietanmese")

	module.exports = {
	    english2: englis1,
	    vietnamese2: vietnames1
	}
</pre>


<h2>Su dung module dung san nodejs</h2>
<h3>util.format</h3>
<pre>util.format(format, arg1, arg2,...);</pre>
<ul>
	<li>%s string</li>
	<li>%d number</li>
	<li>%j chuoi JSON</li>
	<li>%i parseInt(value, 10)</li>
</ul>
<pre>
	var util = require("util")

	var lname = "Hoa";
	var fname = "Nguyen"
	var fullName = util.format('%s Thi %s', fname, lname);
	console.log(fullName) //Nguyen Thi Hoa

	util.log(fullName) //15 Aug 15:47:11 - Nguyen Thi Hoa
</pre>
<h2>Event Emitter (P1) gia lap events</h2>
<p>Tep 28tkvlogs</p>
<b>emiiter.js</b>
<pre>
	function Emitter(){
	    this.events = {};
	}

	Emitter.prototype.on = function(type, listener){
	    this.events[type] = this.events[type] || [];
	    this.events[type].push(listener);
	}

	// Emitter.prototype.emit = function(type){
	//     if (this.events[type]) {
	//         this.events[type].forEach(function(listener) {
	//             listener();
	//         });
	//     } else console.log("chua cap nhat thong bao")
	// }

	Emitter.prototype.emit = function(type){
	    if (this.events[type]) {
	        this.events[type].forEach(function(listener){
	            console.log(listener)
	        })
	    } else console.log("chua cap nhat thong bao")
	}
	module.exports = Emitter;
</pre>

<b>app.js</b>
<pre>
	var Emitter = require("./emitter");

	var emitter = new Emitter();

	// emitter.on("bad", function() {
	//     console.log("Mot mon nao do bi diem kem!")
	// })

	// emitter.on("bad", function(){
	//     console.log("Diem kem, can thong bao den phu huynh")
	// })

	emitter.on("bad","Mot mon nao do diem kem")
	emitter.on("bad","thong bao phu huynh")

	var score = [10,4];
	for(var s of score) {
	    if(s < 5) {
	        console.log("Diem qua thap");
	        emitter.emit("bad")
	    }
	}

</pre>
<h2>Event Emitter (P2) events trong nodejs</h2>
<pre>emitter.on(eventName, listener)</pre>
<p>listener la 1 cai function</p>
<b>config.js</b>
<pre>
	module.exports = {
	    events: {
	        BAD_SCORE: "bad",
	        USER_CONNECTED: "connected"
	    }
	}
</pre>
<b>app.js</b>
<pre>
	var Emitter = require("events");
	var eventConfig = require("./config")

	var emitter = new Emitter();

	emitter.on(eventConfig.BAD_SCORE, function() {
	    console.log("Mot mon nao do bi diem kem!")
	})

	emitter.on(eventConfig.BAD_SCORE, function(){
	    console.log("Diem kem, can thong bao den phu huynh")
	})

	var score = [10,4];
	for(var s of score) {
	    if(s < 5) {
	        console.log("Diem qua thap");
	        emitter.emit(eventConfig.BAD_SCORE)
	    }
	}
</pre>
<h2>object.create và prototypes</h2>
<pre>
	var person = {
	    fname: "",
	    lname: "",
	    getFullName: function(){
	        return this.fname + " " + this.lname
	    }
	}

	var hoa = Object.create(person);
	hoa.fname = "Thi";
	hoa.lname = "Hoa";
	console.log(hoa.getFullName())
</pre>
<h2>Kế thừa Event emitter (P1)</h2>
<pre>
	var EventEmitter = require("events");
	var util = require("util");

	function Dialog(){
	    this.message = "Hello world!";
	}

	util.inherits(Dialog, EventEmitter);

	Dialog.prototype.sayHello = function(data){
	    console.log(this.message +" "+ data);
	    this.emit("hello", data)
	}

	var dialog = new Dialog();

	dialog.on("hello", function(data){
	    console.log("Co 1 loi chao, "+data)
	})

	dialog.sayHello("Hoa")
</pre>
<h2>ES6 Template literals</h2>
<pre>
	var person = {
		name: "Hoa",
		age: 25
	}

	console.log("Toi la " + person.name + ", toi " + person.name + "tuoi")
	//template literals
	console.log(`Toi la ${person.name}, toi ${person.age} tuoi`)

</pre>
<b>Note</b>
<p>Xuong dong thoai mai, format du'ng voi template</p>
<h2>Javascript .call và .apply</h2>
<pre>
	var obj = {
	    name: "Hoa",
	    sayHello: function(){
	        console.log(`Hello ${this.name}`)
	    }
	}

	obj.sayHello();
	// thay doi gia tri thuoc tinh
	obj.sayHello.call({name: "Phuong"}) // return Hello Phuong
	// thay doi gia tri thuoc tinh
	obj.sayHello.apply({name: "Tien"}) // return Hello Tien
</pre>
<b>truy tham so param1, param2</b>
<pre>
	var obj = {
	    name: "Hoa",
	    sayHello: function(param1, param2){
	        console.log(`Hello ${this.name}`);
	        console.log(`Params:`, param1, param2)
	    }
	}

	obj.sayHello("nam", "2018");
	// thay doi gia tri thuoc tinh, truyen tham so tung phan
	obj.sayHello.call({name: "Phuong"}, "nam", "2019") // return Hello Phuong
	// thay doi gia tri thuoc tinh, truyen tham so array
	obj.sayHello.apply({name: "Tien"}, ["nam", "2020"]) // return Hello Tien
</pre>
<h2>Kế thừa Event emitter (P2)</h2>
<pre>
	var util = require("util");

	function Person(){
	    this.fname = "Hoa";
	    this.lname = "Mai"
	}

	Person.prototype.sayHello = function(){
	    console.log("Hello " + this.lname +" "+this.fname)
	}

	function Student(){
	    Person.call(this); //goi luon gia tri cua thuoc tinh Hoa, Mai
	    this.id = "1234"
	}

	util.inherits(Student, Person);

	var sv = new Student();

	console.log(sv);
	console.log(sv.id);
	sv.sayHello();
</pre>
<h2>ES6 class</h2>
<b>dung 'use strict' de su dung class</b>
<p>1 cach tao doi' tuong ke thua, thay cho prototype</p>
<pre>
	'use strict'

	class Person{
	    constructor(lname, fname){
	        this.lname = lname,
	        this.fname = fname
	    }

	    // dinh nghia function
	    sayHello() {
	        console.log("Hello "+this.lname+" "+this.fname)
	    }
	}
	----thay the----
	function Person(){
	  this.fname = "Hoa";
	  this.lname = "Mai"
	}

	Person.prototype.sayHello = function(){
	    console.log("Hello " + this.lname +" "+this.fname)
	}
	----thay the----

	var hoa = new Person("Hoa", "Mai")
	hoa.sayHello();
</pre>
<h2> Event emitter (P3)</h2>
<p>viet lai emitter P1 voi class</p>
<b>dung extend de ke thua, va dung super() de su dung</b>
<p>tep 36tkvlogs</p>
<pre>
	'use strict'

	var EventEmitter = require("events");

	class Dialog extends EventEmitter {
	    constructor(){
	        super();
	        this.message = "Hello world"
	    }
	    sayHello(data){
	        console.log(`${this.message}: ${ data }`);
	        this.emit("hello", data)
	    }
	}

	var Dialog = require("./dialog")

	var dialog = new Dialog();

	dialog.on("hello", function(data){
	    console.log("Co 1 loi chao, "+data)
	})

	dialog.sayHello("Hoa")
</pre>
<h2>Callback</h2>
<p>chi goi 1 ham cuoi, cac ham trong setTimeout se thuc hien truoc</p>
<b>setTimeout()</b>
<pre>
	function firstFn(){
	    console.log("ham 1, khong can goi")
	}

	function secondFn(){
	    setTimeout(firstFn,3000);
	    console.log("ham 2, chi can goi")
	}

	secondFn();

	//ham 2, chi can goi
	//ham 1, khong can goi
</pre>

<h2>stream va buffer</h2>
<h2>Buffer</h2>
<p>lam viec voi bang ma ki tu</p>
<pre>
	var buffer = new Buffer("Xin chào", "utf8")

	console.log(buffer) //58 69 6e 20 63 68 61 6f

	console.log(buffer.toString()) //Xin chao (mac dinh "utf8")
	console.log(buffer.toString("ascii")) //Xin chC o
	console.log(buffer.toJSON()) // {type: 'Buffer', data: [88, 105, 110,  32,  99, 104, 195, 160,  111]}
</pre>
<h2>TypedArray</h2>
<p>Int8Array, Int16Array, Int32Array, Float64Array</p>
<pre>
	var buffer = new ArrayBuffer(4);

	var view = new Int8Array(buffer);

	view[0] = 5;
	view[1] = 10;
	view[2] = 3;

	console.log(buffer) //ArrayBuffer { [Uint8Contents]: <05 0a 03 00>, byteLength: 4 }

	console.log(view) //Int8Array(4) [ 5, 10, 3, 0 ]

</pre>
<h2>Callback (p2)</h2>
<pre>
	function readData(callback){
	    // read done
	    var user = {
	        name: "Hoa"
	    }
	    callback(user)
	}

	readData(function(data){
	    console.log("read data lan 1 ")
	    console.log("Data : ", data)
	})

	readData(function(data){
	    console.log("read data lan 2")
	    console.log("User : " + data.name)
	})
</pre>
<h2>File (fs)</h2>
<pre>
	var fs = require("fs")

	// readFileSync (dong bo)
	var read = fs.readFileSync(__dirname + "/database.txt", "utf8");
	console.log(read)

	// readFile (khong dong bo)
	fs.readFile(__dirname + "/database.txt","utf8", function(err, data){
	    console.log(data)
	})

</pre>
<h2>stream</h2>
<p>chunk la manh nho cua stream</p>
<pre>
	var fs = require("fs");

	var readFile = fs.createReadStream(__dirname + "/database.txt", {
	    encoding: "utf8",
	    highWaterMark: 1024*70 //10k
	})
	var writeFile = fs.createWriteStream(__dirname + "/database2.txt")

	readFile.on("data", function(chunk){
	    console.log(chunk.length) //mac dinh la 64k tra ve. highWaterMark de thay doi
	    writeFile.write(chunk);
	    console.log("coppied")
	})
</pre>
<h2>PIPE dung voi thu vien zlib</h2>
<pre>
	var fs = require("fs");
	// thu vien nen file
	var zlib = require("zlib")

	var readFile = fs.createReadStream(__dirname + "/database.txt", {
	    encoding: "utf8"
	});

	var writeFile = fs.createWriteStream(__dirname + "/database2.txt")
	// tao 1 file nen
	var gzip = zlib.createGzip()
	// noi luu file da nen
	var compress = fs.createWriteStream(__dirname + "/database.txt.gz")

	//copy
	readFile.pipe(writeFile);

	//compress. gzip tao file ne, compress de luu file
	readFile.pipe(gzip).pipe(compress)
</pre>
<h2>TCP/IP</h2>
<h2>server voi Nodejs</h2>
<pre>
	var http = require("http")

	http.createServer(function(req, res){

	    res.writeHead(200, {'Content-Type': 'text/plain'})
	    res.end("hello web from Nodejs")

	}).listen(1111, "127.0.0.1")
</pre>



<h2>VERSIONING SEMANTIC</h2>
<a href="https://semver.org/" target="_blank">Tham khao https://semver.org/</a>
<p><b>MAJOR.MINOR.PATCH</b></p>
<p>2.0.0</p>
<ul>
	<li>MAJOR: gan nhu hoan toan moi</li>
	<li>MINOR: them tinh nang</li>
	<li>PATCH: fix bug</li>
</ul>





<h2>Cài đặt EXPRESS và xây dựng một WEB SERVER hoàn chỉnh</h2>
<pre>npm install express --save</pre>
<pre>
	var express = require("express")

	var app = express();

	var port = 3000;

	app.get("/", function(req, res) {
	  res.send("&lt;h1>hello expresss&lt;/h1>")
	});
	app.get("/api", function(req, res) {
	  res.json({
	    lname: "hoa",
	    fname: "mai"
	  })
	})
	app.listen(port, function(){
	  console.log("sever: http://localhost:3000")
	})
</pre>

<h2>MIDDLEWARE trong express</h2>
<pre>
	var express = require("express")

	var app = express();

	var port = 3000;

	//custom middleware
	app.use("/", function(req, res, next) {
	  console.log('Request URL: ', req.url);
	  req.requestTime = new Date();
	  next();
	})
	// co san
	app.use("/public", express.static(__dirname +"/public"))


	app.get("/", function(req, res) {
	  // doc file hien thi ra
	  res.send(`
	  &lt;link href="/public/style.css" rel="stylesheet" type="text/css">
	  &lt;h1>hello expresss&lt;/h1>
	  &lt;p>Request Time: ${req.requestTime}&lt;/p>
	  `)
	});
	app.get("/api", function(req, res) {
	  res.json({
	    lname: "hoa",
	    fname: "mai"
	  })
	})

	app.get("/user/:id", function(req, res){
	  res.send(`Hello ${req.params.id}`)
	})

	app.listen(port, function(){
	  console.log("sever: http://localhost:3000")
	})
</pre>

<h2>#72 NodeJS - QUERYSTRING và POST PARAMETER</h2>
<p>tep 72tkvlogs</p>
<pre>https://www.google.com/search?q=google&oq=go&aqs=chrome.0.69i59j69i57j35i39j0i131i433i512l2j69i60l3.2360j0j4&sourceid=chrome&ie=UTF-8</pre>
<p>Query string: q=google&oq=go&aqs=chrome.0.69i59j69i57j35i39j0i131i433i512l2j69i60l3.2360j0j4&sourceid=chrome&ie=UTF-8</p>

<p>cai middleware boby-parser tai <a href="https://expressjs.com/en/resources/middleware.html" target="_blank">express</a></p>
<p>lay thu vien <a href="https://code.jquery.com/">jQuery</a></p>

<h2>#74 NodeJS - Cấu trúc một ứng dụng</h2>
<p>Tao nhanh ung dung gom folder va file mau voi <a href="http://expressjs.com/en/starter/generator.html" target="_blank">express-generator</a></p>
<pre>npx express-generator</pre>
<h2>ANGULARJS</h2>
<p>du an note todo</p>
<p>chen vao html</p>
<p><a href="https://www.bootstrapcdn.com/" target="_blank">bootstrapCDN</a>: bo https de tu load htpp hoac https</p>
<pre>
	&lt;link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
	&lt;link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
</pre>

<p><a href="https://angularjs.org/">angularjs</a></p>
<pre>
&lt;script src="//ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js">&lt;/script>
</pre>
<h3>ngRepeat</h3>
<p>Dung nhu ham lap for, de hien thi danh sach</p>
<h3>ngModel</h3>
<p>lay theo trang thai true/false. Lam cai checkbox</p>
<h3>ngClass</h3>
<p>tu dong thay doi class</p>
<pre>	ng-class="{ strike: todo.isDone}</pre>
<h3>angular xeditable</h3>
<p>chinh sua noi dung</p>
<p><a href="https://cdnjs.com/libraries/angular-xeditable" target="_blank">cdn xeditable</a></p>
<p><a href="https://vitalets.github.io/angular-xeditable/" target="_blank">Su dung xeditable</a></p>




<h1 class="body">Node.js Tutorial</h1>

<h2 class="body">Node.js Modules</h2>
<h3>require()</h3>
<pre>var http = require('http')</pre>
<p>tao ra 1 server</p>
<pre>
http.createServer(function (req, res) {
  res.writeHead(200, {'Content-Type': 'text/html'});
  res.end('Hello World!');
}).listen(8080);</pre>
<h3>Create Module ca nhan</h3>
<b>exports</b>
<pre>
	exports.myDateTime = function(){
		return Date();
	}
</pre>
<h2 class="body">Node.js HTTP Module</h2>
<pre>require()</pre>
<pre>createServer()</pre>

<pre>
	var http = require('http')

	// Tao 1 server object
	http.createServer(function(req, res) {
		res.write('Hello World'); // viet 1 yeu cau
		reg.end(); //ket thuc yeu cau
	}).listen(8080)
</pre>
<h3>add an HTTP Header</h3>
<pre> res.writeHead()</pre>
<pre>
	var http = require('http');
	http.createServer(function(req,res){
		res.writeHead(200, {'Content-Type': 'text/html'});
		res.write('Hello World');
		res.end();
	}).listen(8080);
</pre>
<h3>Read the Query String</h3>
<pre>
	var http = require('http');
	http.createServer(function(req, res) {
		res.writeHead(200, {'Content-Type': 'text/html'});
		res.write(req.url);
		res.end();
	}).listen(8080)
</pre>
<h3>Split the Query String</h3>
<pre>
	var http = require('http');
	var url = require('url');

	http.createServer(function(red,res) {
		res.writeHead(200, {'Content-Type': 'text/html'});
		var q = url.parse(req.url, true).query;
		var txt = q.year + " " + q.month;
		res.end(txt);
	}).listen(8080);
</pre>


<h2 class="body">Node.js File System</h2>
<pre>var fs = require('fs');</pre>
<h3>Read Files fs.readFile()</h3>
<pre>
	var http = require('http');
	var fs = require('fs');
	http.createServer(function (req,res) {
		fs.readFile('demofile1.html', function(err, data) {
			res.writeHead(200, {'Content-Type': 'text/html'});
			res.write(data);
			return res.end;
		})
	})

</pre>
<h3>Create Files</h3>
<ul>
	<li>fs.appendFile()</li>
	<li>fs.open()</li>
	<li>fs.writeFile()</li>
</ul>

<h4>fs.appendFile(), ket noi voi file, neu khong co se tu tao moi a file</h4>
<pre>
	var fs = require('fs');

	fs.appendFile('mynewfile1.txt', 'Hello content!', function(err) {
		if (err) throw err;
		console.log('Saved')
	})
</pre>
<p><b>Note</b>:'Hello content' la noi dung ghi, neu file khong ton tai, thi se tao file moi, va trong file co noi dung Hello content</p>

<h4>fs.open()</h4>
<pre>
	var fs = require('fs');

	fs.open('mynewfile2.txt', 'w', function(err,file){
		if (err) throw err;
		console.log('saved');
	})
</pre>
<p><b>Note</b>: 'w' se la bat buoc, neu file chua ton tai, se tu dong tao file moi, voi noi dung trong</p>

<h4>fs.writeFile()</h4>
<p>giong voi fs.appendFile</p>
<p><b>Note</b>: nhung no se ghi de len noi dung cua file da ton tai. con append() se cap nhat noi' them vao</p>
<pre>
	var = require('fs')

	fs.writeFile('mytextFile3.txt', 'Hello content', function(err) {
		if (err) throw err;
		console.log('saved');
	})
</pre>
<h3>Update Files</h3>
<ul>
	<li>fs.append():</li>
<p>Noi' noi dung vao cuoi' file</p>
<pre>
	var fs = require('fs')

	fs.appendFile('mynewfile1.txt', 'this is my text', function(err){
		if (err) throw err;
		console.log('updated')
	})
</pre>
	<li>fs.writeFile()</li>
<p>replace noi dung da ton tai</p>
<pre>
	var fs = require('fs');
	fs.writeFile('mynewFile3.txt', 'this is my text', function(err) {
		if (err) throw err;
		console.log('replaced')
	})
</pre>
</ul>
<h3>Delete Files fs.unlink()</h3>
<pre>
	var fs = require('fs')

	fs.unlink('mynewfile2.txt', function(err){
		if(err) throw err;
		console.log('deleted')
	})
</pre>
<h3>Rename Files fs.rename()</h3>
<pre>
	var fs = require('fs');

	fs.rename('mynewfile1.txt', 'mynamedfile1.txt', function(err){
		if(err) throw err;
		console.log('renamed')
	})
</pre>
<h2 class="body">Node.js URL</h2>
<pre>var url = require('url')</pre>
<p>url.parse() return ra object url</p>
<pre>
	var url = require('url');
	var adr = 'http://localhost:8080/default.htm?year=2017&month=february';
	var q = url.parse(adr, true);

	console.log(q.host); // return "localhost:8080"
	console.log(q.pathname); // return '/default.html'
	console.log(q.search); //return '?year=2017&month=february'

	var qdata=q.query // return object: {year: 2017,month: 'february'}
	console.log(qdata.month);// return 'february'
</pre>
<h3>Node.js File Server</h3>
<p>summer.html</p>
<p>winter.html</p>
<p>demo_fileserver.js</p>
<pre>
	var http = require('http');
	var url = require('url');
	var fs = require('fs');

	http.createServer(function (req, res) {
	  var q = url.parse(req.url, true);
	  var filename = "." + q.pathname;
	  fs.readFile(filename, function(err, data) {
	    if (err) {
	      res.writeHead(404, {'Content-Type': 'text/html'});
	      return res.end("404 Not Found");
	    } 
	    res.writeHead(200, {'Content-Type': 'text/html'});
	    res.write(data);
	    return res.end();
	  });
	}).listen(8080);
</pre>

<h2 class="body">Node.js Events</h2>

<h3>Events Module</h3>
<pre>
	var events = require('events');
	var eventEmitter = new events.EventEmitter()
</pre>
<h3>EventEmitter</h3>
<p>emit() thuc hien event</p>
<pre>
	var events = require('events');
	var eventEmitter = new events.EventEmitter();

	//Create an event handler:
	var myEventHandler = function () {
	  console.log('I hear a scream!');
	}

	//Assign the event handler to an event:
	eventEmitter.on('scream', myEventHandler);

	//Fire the 'scream' event:
	eventEmitter.emit('scream');
</pre>
<h2 class="body">Node.js Upload Files</h2>
<h3>Formidable Module</h3>
<pre>npm install formidable</pre>

<form action="fileupload" method="post" enctype="multipart/form-data">
<input type="file" name="filetoupload"><br>
<input type="submit">
</form>

<h3>Step 1: Create an Upload Form</h3>

<pre>
	var http = require('http');

	http.createServer(function (req, res) {
	  res.writeHead(200, {'Content-Type': 'text/html'});
	  res.write('&lt;form action="fileupload" method="post" enctype="multipart/form-data">');
	  res.write('&lt;input type="file" name="filetoupload">&lt;br>');
	  res.write('&lt;input type="submit">');
	  res.write('&lt;/form>');
	  return res.end();
	}).listen(8080);
</pre>
<h3>Step 2: Parse the Uploaded File</h3>

<pre>
	var http = require('http');
	var formidable = require('formidable');

	http.createServer(function(req, res){
		if (req.url == '/fileupload') {
			var form = new formidable.IncomingForm();
			form.pares(req, function(err, fields, files) {
				res.write('File uploaded');
				res.end();
			});
		} else {
			res.writeHead(200, {'Content-Type':'text/html'});
			res.write('&lt;form action="fileupload" method="post" enctype="multipart/form-data">');
			res.write('&lt;input type="file" name="filetoupload">&lt;br>');
			res.write('&lt;input type="submit">');
			res.write('&lt;/form>');
			res.end();
		}
	}).listen(8080)
</pre>

<h3>Step 3: save</h3>
<pre>
	var http = require('http');
	var formidable = require('formidable');
	var fs = require('fs');

	http.createServer(function(req,res){
	  if (req.url == '/fileupload'){
	    var form = new formidable.IncomingForm();
	    form.parse(req, function(err, fields, files){
	      var oldpath = files.fileoupload.path;
	      var newpath = '/home/ubuntu/Desktop/Node ww3school.com/test/' + files.filetoupload.name;
	      fs.rename(oldpath, newpath, function(err){
	        if(err) throw err;
	        res.write('File uploaded and moved!');
	        res.end();
	      });
	    });
	  } else {
	    res.writeHead(200, {'Content-Type':'text/html'});
	    res.write('&lt;form action="fileupload" method="post" enctype="multipart/form-data");
	    res.write('&lt;input type="file" name="filetoupload">&lt;br>');
	    res.write('&lt;input type="submit" name="submit">');
	    return res.end();
	  }
	}).listen(8080)
</pre>
<h2 class="body">Node.js Email</h2>
<pre>npm install nodemailer</pre>
<h3>Send an Email</h3>
<p>xem tai day <a href="https://www.w3schools.com/nodejs/nodejs_email.asp" target="_blank">Click</a></p>
<h1 class="body">Node.js MySQL</h1>
<h2 class="body">MySQL Get Started</h2>
<h3>Cai dat</h3>

<ul><li>B1: Tai MySQL APT Repository</li></ul>
<a href="https://dev.mysql.com/downloads/repo/apt/" target="_blank">https://dev.mysql.com/downloads/repo/apt/</a>
<ul><li>B2: di chuyen den thu muc chua, va chay lenh</li></ul>
<p>Downloads, mo Ternimal, kiem tra file</p>
<pre>	ls -l</pre>
<p>cai dat file</p>
<pre>	sudo dpkg -i mysql-apt-config_0.8.18-1_all.deb</pre>
<p>lenh de kiem tra mysql-server</p>
<pre>	sudo apt-cache search mysql-server</pre>
<ul><li>B3: cai dat mysql-server</li></ul>
<pre> sudo apt-get install mysql</pre>
<p><b>Note</b>: Nho nhap mat khau, day la mat khau dang nhap root</p>
<ul><li>B4: dang nhap</li></ul>
<pre> sudo mysql -u root -p</pre>
<p><b>Note</b>: mysql la ten cua he thogn luu tru, co the thay doi</p>
<h3>start/stop/restart/status server</h3>
<p>Co 2 dong lenh tuong tu:</p>
<ul>
	<li><pre>sudo server mysql stop</pre></li>
	<li><pre>sudo systemctl stop mysql</pre></li>
</ul>
<h3>uninstall MySQL</h3>
<pre>	1.sudo apt-get remove --purge mysql*</pre>
<pre>	2.sudo apt-get purge mysql*</pre>
<pre>	3.sudo apt-get autoremove</pre>
<pre>	4.sudo apt-get autoclean</pre>
<pre>	5.sudo apt-get remove dbconfig-mysql</pre>
<br>
<b>Hoac</b>
<pre>	1.sudo apt-get remove mysql-server</pre>
<pre>	2.sudo apt-get autoremove</pre>
<pre>	3.sudo apt-get remove package-name (ten goi)</pre>
<h3>Cai them MySQL Workbench truc quan xu ly data</h3>
<a href="https://dev.mysql.com/downloads/workbench/" target="_blank">https://dev.mysql.com/downloads/workbench/</a>


</body>
</html>