body {
	padding: 5%;
}
.body, h1, h2 {
	text-align: center;
}
pre {
	color: #fff;
	background-color: #333;
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.nodetest{
	position: fixed;
	top: 30px;
	left: 30px;
	padding: 20px;
}
.nodetest a{
	text-decoration: none;
}