<html>
    <head>
        <title>Hello EJS template</title>
        <link rel="stylesheet" href="/public/style.css">
    </head>
    <body>
        <h1>User: <%= ID %> voi chieu dai <%= ID.length %></h1>
        <h2>Query String Valu: <%= queryString%></h2>
    </body>
</html>